.button {
  width: 580px;
  height: 72px;
  color: #fff;
  background-color: #ff4141;
  margin-top: 30px;
  border: none;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 15px;
}
