.item {
  width: 450px;
}

.item p {
  margin: 6px 0px;
}

.itemValue {
  font-size: 18px;
  color: #374151;
  font-weight: 600;
}

.item:hover {
  transform: scale(1.05);
  transition: 0.6s;
}

.itemBottom {
  display: flex;
  gap: 60px;
  align-items: center;
}

.item button {
  border: none;
  outline: none;
  background: none;
}

.item button img {
  height: 30px;
  width: 30px;
}
